

body {
    background-color: #000d33;
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}
.navbar-fixed-top .nav {
    font-size: 2.5em;
    padding: 15px 0;
}

.navbar-inverse {
  background-color: #000033;
  border-style: none;
}
.navbar-fixed-top .navbar-brand {

    padding: 100 15px;
}

@media(min-width:768px) {
    body {
        padding-top: 10px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        padding: 15px 0;
    }
}
.jumbotron {
    /* add bootstrap jumbotron background image
    background: url("../imgs/hackucf_logo.png");
    background-repeat: no-repeat;
    background-position: center;
    /* change bootstrap jumbotron text color */
    padding-top: 100px;
    padding-left: 190px;
    border-style: none;
    background-color: #000033;
    color: #888;
}


.btn{
    border-color: #000;
    background-color: #806600;
    color: #000
}

.list {
  color: #888;
}

.blog{
  font-size: 20px;
  color: #888;
}
.whatever{
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 20px;
  float:left;
}
